{% extends "base.html" %}

{% block title %}FastAPI Starter{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col">
            {{data.text|safe}}
        </div>
    </div>

    {{data.page}}  <!-- Include the Markdown content here --> 

    
        <!-- Upload File Section -->
        <div id="drop-area">
            <form class="file-form" action="/uploadfile/" method="post" enctype="multipart/form-data">
                <input type="file" id="fileElem" multiple accept=".txt, .csv" onchange="handleFiles(this.files)">
                <label class="file-label" for="fileElem">Drag and drop a file here or click to browse</label>
            </form>
        </div>
    
    </main><!-- /.container -->
    
    {{data.page}}
    
    {% endblock %}
    
    {% block scripts %}
    {{ super() }}
    
    <!-- JavaScript for File Upload -->
    <script>
        function handleFiles(files) {
            // Create a FormData object
            const formData = new FormData();
    
            // Append the files to the FormData object
            for (let i = 0; i < files.length; i++) {
                formData.append("file", files[i]);
            }
    
            // Make a POST request to your FastAPI endpoint to handle the uploaded files
            fetch("/", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server
                console.log(data);
                // Perform any desired actions based on the response
            })
            .catch(error => {
                // Handle any errors that occurred during the request
                console.error(error);
            });
        }
    </script>
    <!-- End of JavaScript for File Upload -->
    
    {% endblock %}

